<div class="movie-cards-container">
  <mat-card *ngFor="let movie of movies; let i = index" class="movie-card">
    <div class="movie-content">
      <mat-card-content>
        <div class="movie-title">
          <mat-card-title>{{ movie.Title }}</mat-card-title>
        </div>

        <img
          class="movie-image"
          [src]="movie.ImageURL"
          alt="{{ movie.Title }}"
        />

        <p class="movie-info">
          <strong>Main Actor:</strong>
          <a href="#" (click)="openActorDialog(movie.mainActor, $event)">
            {{ movie.mainActor.Name }}
          </a>
        </p>
        <p class="movie-info">
          <strong>Supporting Actor:</strong>
          <a
            href="#"
            (click)="openSupportingActorDialog(movie.supportingActor, $event)"
          >
            {{ movie.supportingActor.Name }}
          </a>
        </p>
        <p class="movie-info">
          <strong>Genre:</strong>
          <a href="#" (click)="openGenreDialog(movie.Genre, $event)">
            {{ movie.Genre.Name }}
          </a>
        </p>
        <p class="movie-info">
          <strong>Description:</strong>
          <a href="#" (click)="openDescriptionDialog(movie, $event)">
            Read more...
          </a>
        </p>
      </mat-card-content>
    </div>

    <div class="button-container">
      <!-- Modified Favorite Button -->
      <button
        mat-raised-button
        [ngClass]="{ 'added-to-favorites': isFavorite(movie) }"
        (click)="toggleFavorite(movie)"
        class="movie-button"
      >
        {{ isFavorite(movie) ? "Added to Favorites!" : "Favorite" }}
      </button>
    </div>
  </mat-card>
</div>
