<!-- movie-card.component.html -->
<div class="movie-cards-container">
  <mat-card *ngFor="let movie of movies; let i = index" class="movie-card">
    <div class="movie-content">
      <mat-card-content>
        <!-- Display movie title -->
        <mat-card-title>{{ movie.Title }}</mat-card-title>

        <!-- Display movie image -->

        <img mat-card-image [src]="movie.ImageURL" alt="{{ movie.Title }}" />

        <!-- Display main and supporting actors -->
        <p class="movie-info">
          <strong>Main Actor:</strong> {{ movie.mainActor.Name }}<br />
          <strong>Supporting Actor:</strong> {{ movie.supportingActor.Name }}
        </p>

        <!-- Display genre and description -->
        <p class="movie-info"><strong>Genre:</strong> {{ movie.Genre.Name }}</p>
        <p class="movie-info">
          <strong>Description:</strong>
          {{ movie.Description | slice : 0 : 100 }}...
        </p>
      </mat-card-content>
    </div>

    <div class="button-container">
      <button mat-raised-button color="primary" class="movie-button">
        Synopsis
      </button>
      <button mat-raised-button color="primary" class="movie-button">
        Favorite
      </button>
    </div>
  </mat-card>
</div>
