<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="loginData.Username"
          name="username"
          required
          type="text"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="loginData.Password"
          name="password"
          required
          type="password"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="loginUser()" color="primary">
      Login
    </button>
  </mat-card-actions>
</mat-card>
