.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.primary-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff; /* Text color */
  background-color: #3f51b5; /* Angular Material blue */
  border: none;
  border-radius: 10px;
}

.primary-button:hover {
  background-color: #303f9f; /* Darker blue on hover */
}
